* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
body {
  background-color: #EEEEEE;
}
header {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background-color: #FF0000;
}
header .p1 {
  width: 4rem;
  height: 4rem;
  background: url(../img/images03/back.png) no-repeat 0 0;
  background-size: 100%;
  float: left;
}
header .sp1,
header .sp2 {
  float: left;
  width: 7.5rem;
  height: 2rem;
  line-height: 2rem;
  border: 0.1rem solid white;
  margin-top: 1rem;
  text-align: center;
  color: white;
  font-size: 1.4rem;
}
header .sp1 {
  margin-left: 15%;
}
header .sp2 {
  background-color: white;
  color: red;
}
header .p2 {
  float: right;
  font-size: 1.4rem;
  color: white;
}
main {
  width: 100%;
  background-color: white;
}
main .box {
  width: 98%;
  height: 6.6rem;
  margin: 0 1%;
  padding: 1rem 0;
  border-bottom: 1px solid #d9d6d6;
  position: relative;
}
main .box .img {
  width: 6rem;
  height: 6rem;
  display: inline-block;
}
main .box .img2 {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.3rem;
}
main .box .item {
  display: inline-block;
  width: 80%;
  height: 100%;
  margin-left: 1%;
  vertical-align: top;
}
main .box .item .item_p1 {
  width: 100%;
  color: #333333;
  font-size: 1.4rem;
}
main .box .item .item_p2 {
  width: 100%;
  font-size: 1.7rem;
  color: #666666;
}
main .box .item .item_p2 .item_sp1 {
  font-size: 1.2rem;
  text-decoration: line-through;
}
main .box .item .item_p2 .item_sp {
  float: right;
  font-size: 1.2rem;
  width: 5.5rem;
  height: 2rem;
  border: 0.1rem solid #bab5b5;
  text-align: center;
  line-height: 2rem;
}
