* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
header {
  width: 100%;
  height: 6.4rem;
}
header p {
  width: 100%;
  height: 100%;
  line-height: 6.4rem;
  text-align: center;
  background-color: #40CCDF;
  font-size: 2.4rem;
  color: white;
}
header p .p-sp {
  float: left;
  width: 6.4rem;
  height: 6.4rem;
  background: url(../img/image05/icon_arr_back.png) no-repeat 1.5rem 1.3rem;
}
header p .p-sp1 {
  float: right;
  width: 6.4rem;
  height: 6.4rem;
  background: url(../img/image05/icon_arr_more.png) no-repeat 0 1.8rem;
}
main {
  width: 100%;
}
main .box {
  width: 100%;
  height: 5.6rem;
  color: #505050;
  font-size: 2.1rem;
  line-height: 5.6rem;
  background-color: #F2F2F2;
  text-indent: 1.5rem;
  border-bottom: 0.2rem solid #b7b4b4;
}
main dl {
  width: 100%;
  height: 4.8rem;
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #808080;
  border-bottom: 0.1rem solid #d8d2d2;
}
main dl dd {
  width: 33%;
  height: 100%;
  line-height: 4.8rem;
  float: left;
}
main dl dt {
  width: 66%;
  height: 100%;
  line-height: 4.8rem;
  float: right;
}
main .work {
  height: 9.6rem;
}
